<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %> | Satyam Sundaram</title>
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/blog-post.css" type="text/css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/blogs">Blogs</a>
            <a href="/projects">Projects</a>
            <a href="/work">Work</a>
        </nav>
    </header>

    <div id="blog-post">
        <h1><%= blog.title %></h1>
        <p><b>Published on <%= blog.date %></b></p>
        <main>
            <%- blogContent %>
        </main>
    </div>
</body>
</html>
