<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satyam Sundaram</title>

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4067369219934578"
     crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/blogs">Blogs</a>
            <a href="/projects">Projects</a>
            <a href="/work">Work</a>
        </nav>
    </header>

    <div id="intro">
        <div id="about-me">
            <p> Hi 👋, I'm <b>Satyam Sundaram</b>, a CS graduate currently working 💻 as a <i>Site Reliability Engineer</i> @ <a href="http://www.media.net" target="_blank" rel="noopener noreferrer"><b>Media.net</b></a>.</p>
            <p> I wish to build a great business of my own soon or work with other people building great businesses. </p> 
            <p> Other than this, I want to travel the world 🌎, and make content that I love 📷. </p>
            <p> I aspire to build a lifestyle that I enjoy and become a person that I'm proud of. </p> 
            <p> If you have similar goals and would like to connect, feel free to reach out on any of the links below!</p>
            <div id="social-links">
                <a href="https://twitter.com/_satyamsundaram" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://github.com/satyamsundaram" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/satyamsundaram/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/_satyamsundaram/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@satyam_sundaram" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
                <a href="mailto:satyamsundaram01@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa-regular fa-envelope"></i></a>
            </div>
        </div>
        <img src="/images/memoji.png" alt="memoji">
    </div>
</body>
</html>