<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Satyam Sundaram</title>
    <link rel="stylesheet"type="text/css" href="/css/projects.css">
    <link rel="stylesheet"type="text/css" href="/css/common.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/blogs">Blogs</a>
            <a href="/projects">Projects</a>
            <a href="/work">Work</a>
        </nav>
    </header>

    
    <div id="projects">
        <h1>Projects</h1>
        <div id="url-shortener" class="project">
            <h2><a href="https://url-shortener-pxbj.onrender.com/" target="_blank">Shorty</a></h2>
            <h3>A simple & effective URL shortener web application.</h3>
            <img src="/images/shorty.png" alt="url-shortener">
            <p>Developed using Node.js, Express.js, and MySQL.</p>
            <a href="https://github.com/satyamsundaram/url-shortener" target="_blank" class="github-btn">View on Github</a>
        </div>

        <div id="noted" class="project">
            <h2><a href="https://notes-app-9zko.onrender.com/" target="_blank">Noted</a></h2>
            <h3>A simple & secure note-taking web application.</h3>
            <img src="/images/noted.png" alt="noted">
            <p>Developed using Node.js, Express.js, and MongoDB.</p>
            <a href="https://github.com/satyamsundaram/notes-webapp" target="_blank" class="github-btn">View on Github</a>
        </div>
    </div>
</body>
</html>