<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work | Satyam Sundaram</title>
    <link rel="stylesheet"type="text/css" href="/css/work.css">
    <link rel="stylesheet"type="text/css" href="/css/common.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/blogs">Blogs</a>
            <a href="/projects">Projects</a>
            <a href="/work">Work</a>
        </nav>
    </header>

    <div id="work">
        <h1>Work</h1>
        <div class="work-block">
            <h2>Site Reliability Engineer @ <a href="https://www.media.net" target="_blank" rel="noopener noreferrer">Media.net</a></h2>
            <h3>July 2023 - Present</h3>
            <ul>
                <li>Perform Gitlab upgrade for the entire organization improving security and features.</li>
                <li>Setup a new logging stack for the team using Loki improving visibility and reliability.</li>
                <li>Managed Vault for the team enabling better handling of sensitive data.</li>
                <li>Worked on the migration of the images repository reducing latency and cost.</li>
                <li>Managed a critical data replication service improving speed and efficiency.</li>
            </ul>
        </div>

        <div class="work-block">
            <h2>Site Reliability Engineer Intern @ <a href="https://www.media.net" target="_blank" rel="noopener noreferrer">Media.net</a></h2>
            <h3>Jan 2023 - July 2023</h3>
            <ul>
                <li>Automated the build of modified Ansible playbooks reducing resource usage and improving efficiency.</li>
                <li>Successfully upgraded Vault and migrated its backend and KMS and safeguarding sensitive data.</li>
                <li>Implemented the migration of the CD pipeline to ArgoCD, enabling easier use and automating deployments.</li>
                <li>Deployed a custom domain URL shortener, reducing costs and enhancing efficiency.</li>
                <li>Implemented logging for Kubernetes events for better visibility and debugging.</li>
            </ul>
        </div>
    </div>
</body>
</html>